<!-- 事件綁定，按下按鈕or Enter之後用addMessage() -->
<form (ngSubmit)="addMessage()">
  <p>
    <!-- 雙向綁定到app.components.ts中 Appcomponent的name -->
    名稱：<input type="text" name = "name" [(ngModel)]="name">
  </p>

  <p>
    <!-- 雙向綁定到app.components.ts中 Appcomponent的content -->
    內容：<input type="text" name = "content" [(ngModel)]="content">
  </p>

  <p>
    <button type="submit">新增留言</button>
  </p>
</form>
<!-- 把messages裡面的每個元素抓出來(裡面有name , content , date) -->
<ng-container *ngFor="let message of messages">
  <div class="message-container">
    <p class="message-name">留言人：{{ message.name }}</p>
    <p class="message-content">訊息內容：{{ message.content }}</p>
    <p class="message-time">時間：{{ message.date | date: 'yyyy/MM/dd HH:mm:ss' }}</p>
  </div>
</ng-container>
